<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>About Brandon</title>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/css/mdb.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/about.css">
        <link rel="shortcut icon" type="image/x-icon" href="/img/bb-0019.ico" />
        <link rel="stylesheet" href="/stylesheets/hover.css"> 
    </head>

    <body data-spy="scroll" data-target=".navbar">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/portfolio">Portfolio</a>
                    </li>
                  </ul>
                </div>
            </nav>
        </header>

        <div class="jumbotron card-image bing" style="background-image: url(/gif/walk.gif); background-repeat: no-repeat; background-position: bottom; background-size: cover;">
            <div class="text-white text-center py-6 px-10">
              <div>
                <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>About Me  </strong></h2>
                <p class="mx-5 mb-5">
                </p>
              </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title" style="color:#ffbb33;"><i class="fas fa-home fa-2x" style="color: purple;"></i>  Where Am I From?</h4>
                    <p class="card-text">I am a 22 y/o student from Terry, Mississippi. Born in Jackson but ultimately lived in Terry majority of my life.
                        There is not too much to do in Jackson, let alone Terry. Terry’s population is estimated around 1,000 citizens, but it’s growing.
                        Only one convenient store, Dollar General, and a couple of gas stations. Oh but wait, don’t forget, we have like 6 churches on one block
                        (not exaggerating, Im deadass) and a liquor store.
                    </p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">

                    <h4 class="card-title"style="color: #00C851;"><i class="fas fa-graduation-cap fa-2x" style="color:#ffbb33 ;"></i>  How'd I get here?</h4>
                    <p class="card-text">Graduating from High School, I had no clue what I wanted to do or where I wanted to go to college
                        I just knew I liked the idea of the advancement of technology and wanted to create wireless earbuds.
                        (I swear apple stole my idea). I chose to major computer engineer cause it sounded cool; and when I googled the salary, 6 figures was the median pay so it was a no brainer.
                        I had no idea of programming and electronics and what the major what entail, but I knew I was up for any challenge.
                    </p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title" style="color: purple;"><i class="fas fa-laptop-code fa-2x" style="color:#00C851;"></i>  Why Web/App Development?</h4>
                    <p class="card-text">
                        I began web development in the summer of 2019. I recently bought a MacBook in the Fall of 2019 to develop in Xcode so I can make iOS apps.
                        I felt as if my programming skills were not up to par, so I had to challenge myself by doing outside projects like such. And it’s fun.
                        I pay attention to trends to see what is popular and what jobs are in demand. Jobs in Software Engineering are rapidly increasing, so why not turn this hobby into a lifestyle?
                    </p>
                </div>
            </div>
        </div>




        <div class="container" style="margin: auto;">
            <section class="dark-grey-text">
                <hr class="charlie">
                <h2 class="text-center font-weight-bold mb-4 pb-2" style="color: #ffbb33;">The Real: A more in-depth blog.</h2>
                <section id="gallery">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 mb-4" >
                                <div class="card pop">
                                    <img class="card-img-top" src="/gif/conceited.gif" alt="">
                                    <div class="card-body">
                                        <h5 class="card-title text-center"><strong>Graduating with no Job Experience: No Summer Internships</strong></h5>
                                        <p>
                                            My main goal throught my collegiate career was to get an internship. Freshman year, I didn’t apply for any internships.
                                            I was clueless and had severe imposter syndrome. Sophomore year I had applied for many internships, but just couldn’t seem to land one.
                                            Looking back at my old resume, I know why. It was trash 🗑, like what was I thinking? Junior year I applied to a company, Aced the Interview, and got an offer!
                                            I was so excited and it felt as if everything that I was working for had paid off. I was sooo ecstatic, that I started to treat myself financially. I was gonna make back over the summer, so what's the problem right?
                                            Wrong. 2 weeks before the start of my new job and I get a call from the HR manager saying that I had been rejected. They couldn’t give me a reason why for 3 days, due to it being a Thursday. Those 3 days were horrible.
                                            Lo and behold, the days went by and I received another call. Anxiously, I answered the phone and was immediately upset with the news. I had failed the psychological exam during the pre-job screening. FAILED A PSYCHOLOGICAL EXAM?!?!
                                            BRO IM NOT CRAZY, I PROMISE (a lil bit). But in all seriousness, I couldn’t believe what I heard. I was dazed. They offered an appeal option and I tried to appeal but somehow got denied once more. I mean I was ready for that appeal.
                                            I even went to 2 psychologist to provide paperwork proving my sanity; yes I wanted it that bad. But that led me to think that everything happens for a reason and there was a greater purpose. I realize that there had to have been a mistake,
                                            but as I look back on it now, its not a big deal.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 mb-4">
                                <div class="card pop">
                                    <img class="card-img-top" src="/gif/tumble.gif" alt="">
                                    <div class="card-body">
                                        <h5 class="card-title text-center"><strong>Where I'm From (cont)</strong></h5>
                                        <p class="card-text">
                                            I have always been into tech but only as a consumer. I loved playing video games but as technology advances, it becomes annoying at times.
                                            Since there’s not a lot to do in my city,  I’m generally a homebody, so in my free time I would like to play/chat online with my friends.
                                            Due to the rural area I live in, my internet is SLOW! Not just a little slow, but I get 3mb/s. How can one survive off of 3mb/s in 2020?!?! How Sway?!?!
                                            So when I get annoyed I just try to find something else to do, probably productive, probably not. I try not to let it slow down my productivity, but when you are bored... Anything is better than nothing.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 mb-4">
                                <div class="card pop" style="opacity: 80%;" >
                                    <img class="card-img-top" src="/gif/webdev.gif" alt="">
                                    <div class="card-body">
                                        <h5 class="card-title text-center"><strong>Web Development</strong></h5>
                                        <p> I wouldn’t of never branched off into this vector of tech (app development) if it wasn’t for this rejection.
                                            During my wait for the call, I was in San Antonio for my sisters graduation. When my family and I were riding through the city of San Antonio, I seen a building with a coding bootcamp advertisement on it.
                                            There was a link to apply, but I had no interest in applying I was just curious. I typed the website in safari so I can check out what it all entails. I had no clue what full-stack meant, but nevertheless, I was interested in learning for myself.
                                            I screenshot the details of technologies used during the program. At that point, it was just another screenshot in my camera roll. Didn't think much of it. Fast foward, we made it back to Mississippi and reality set in. I really had nothing to do for the entire summer and my goal for obtaining an internship fell short.
                                            *Side-note* - I told myself that I will never get a job again that didn’t pertain to personal progression.* While bored after a couple of days at home, I scrolled through my camera roll aimlessly and stumbled upon the bootcamp screenshot.
                                            I got up immediately and did research on the topic and I fell in love with it. I bought and completed a course on Udemy that taught me everything that I needed to know. It took me the whole summer to complete it but the process was worth it.
                                            Now I just create projects as a hobby in my free time.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
        
        <script src="app.js"></script>
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/js/mdb.min.js"></script>
    </body>
</html>
