<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hol' Up</title>
        <link rel="shortcut icon" type="image/x-icon" href="/img/bb-0019.ico"/>
    </head>
    <body>
        <img src="https://i.imgflip.com/310q3q.jpg" alt="" style="width: 100%;">
    </body>
</html>