<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brandon T. Brown</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/stylesheets/main.css"> -->
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/bb-0019.ico" />

    
</head>
<!-- ============================================================== -->
    <body>
        <div id="landing-header">
            <div class="typewriter">
                <h1>Brandon Brown</h1>
            </div>
            <div class = "typewriter">
                <h4>Computer Engineering Student at Jackson State University.</h4>
            </div>
            <a href="/portfolio" class="btn btn-lg btn-success">Welcome</a>
            <a href="/about" class="btn btn-lg btn-warning">About</a>
        </div>
      
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <script src="app.js"></script>
    </body>
</html> 