<!doctype html>
<html lang="en">
  <head>
    <title>Brandon's Portfolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/hover.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/bb-0019.ico" />

  </head>

  <body data-spy="scroll" data-target=".navbar">
      <!-- =========================NAVBAR=============================== -->

    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/about">About Me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#edu">Education/Skills</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#proj">Projects</a>
                </li>
              </ul>
            </div>
        </nav>
    </header>

<!-- =========================CARD WITH PICTURE========================== -->
  
    <div id="page-container"> <!-- used fof the footer -->
        <div id="content-wrap">
            <div class="container" style="padding-top: 20px;">
                <!-- <section class="jumbotron text-center"> -->
                    <div class="row">
                        <div class="col-12 header text-center">
                            <div class="card" style="display: flex;" >
                                <img src="/img/headshot.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text"> <strong>Brandon Brown </strong></p>
                                    <p class="card-text">Jackson State University C/O 2020 </p>
                                    <p class="card-text">Computer Engineer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </section> -->
            </div>
            <!-- =========================GRID========================== -->



            <div class="container text-center" style="padding-top: 20px;">

                <button type="button" class="btn btn-danger">View Resume  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
            </div>
            <hr id="edu" class="bar" style="color: seagreen;">
            <h1 class="text-center"><u>Skills/Education</u></h1>
            <div class="containter" style="margin: auto; text-align: center;">
                <div class="card-columns">
                    <div class="card mt-2 mb-3 border-success text-left animated slideInLeft delay-3s hvr-shadow">
                        <div class="card-body">
                            <h5 class="card-title text-success">Embedded Microprocessor Systems</h5>
                            <p class="card-text">Learned Arduino and basic embedded systems logic. Used an Arduino based Micro-controller with the ATmega328P processor to create effective and useful projects. 
                            </p>
                        </div>
                    </div>
                    <div class="card p-3 mb-3 border-warning text-left animated slideInLeft delay-4s hvr-shadow">
                        <div class="card-body">
                            <h5 class="card-title text-warning">VHDL</h5>
                            <p class="card-text">A hardware description language used in electronic design automation to describe digital and mixed-signal systems such as field-programmable gate arrays and integrated circuits.</p>
                        </div>
                    </div>
                    <div class="card mb-3 border-success text-left animated slideInLeft delay-5s hvr-shadow">
                        <div class="card-body">
                            <h5 class="card-title text-success">Data Structures & Algorithms & OOP</h5>
                            <p class="card-text">OOP: Learned the four pillars of OOP and how to make code efficient with proper structure. DS&A: Learning multiple ways of storing/manipulating data through algorithms, arrays, vectors, linked list, BST, etc.</p>
                        </div>
                    </div>
                    <div class="card border-warning p-3 mt-2 mb-3 text-center animated flipInX delay-3s hvr-shadow">
                        <div class="card-body">
                            <h5 class="card-title text-warning">Operating Systems</h5>
                            <p class="card-text">Learned the linux enviroment and the git/bash command line. Linux-based administration through RedHat. Processor management, memory management, device management, information management, and distributed systems management.</p>
                        </div>
                    </div>
                    <div class="card border-primary text-center mb-3 animated flipInY delay-4s hvr-shadow" style="max-width: 300rem;">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Languages/Frameworks</h5>
                            <p class="card-text">C++/C, HTML/CSS, JavaScript/Node.js, JQuery, React*</p>
                            <p class="card-text"><small class="text-muted">* = currently learning</small></p>
                        </div>
                    </div>
                    <div class="card border-warning mb-3 text-center animated flipInX delay-5s hvr-shadow">
                        <div class="card-body">
                            <h5 class="card-title text-warning">Ciruits/Electronics</h5>
                            <p class="card-text">Theses courses introduces concepts and basic laws in the analysis of AC and DC linear electric circuits. Topics include mesh and nodal analysis.  Thevenin’s  and  Norton’s  theorems,  superposition  principle,  transients  in  RLC  circuits, phasor notation, and frequency response</p>
                        </div>
                    </div>
                    <div class="card border-success p-3 text-right mt-2 mb-3 animated slideInRight delay-3s hvr-shadow">
                        <div class="card-body">
                            <h5 class="card-title text-success">Computer Architecture</h5>
                            <p class="card-text">This course covers computer architecture design issues. Topics include organization of CPU, processor systems design, computer arithmetic, memory system organization and architecture, interfacing and communication, performance, and multiprocessing.</p>
                        </div>
                    </div>
                    <div class="card border-warning mb-3 text-right animated slideInRight delay-4s hvr-shadow">
                        <div class="card-body">
                            <h5 class="card-title text-warning">Software Engineering</h5>
                            <p class="card-text">Software design, APIs, software tools and environments, software development processes, software implementation, and software project management</p>
                        </div>
                    </div>
                    <div class="card border-success text-right mb-3 animated slideInRight delay-5s hvr-shadow">
                        <div class="card-body">
                            <h5 class="card-title text-success">Signals & Systems/Communication Systems</h5>
                            <p class="card-text">Continuous-time signals and systems. Topics include time domain analysis using convolution integral, s-domain analysis using Laplace transform, real frequency domain analysis, Fourier transform.</p>
                        </div>
                    </div>
                </div>
            </div>


            <hr id="proj" class="bar" style="color: orange;">

            <h1 class="text-center"><u>My Projects</u></h1>
            <section id="gallery">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 mb-4">
                            <div class="card pop hvr-float-shadow hvr-bob">
                                <img class="card-img-top" src= "/img/car.jpg" alt="">
                                <div class="card-body">
                                   <h5 class="card-title"><strong>Autonomous Car</strong></h5>
                                   <p>+ Created an autonomous car with Arduino/Embedded C (Atmega2560) to travel up to 5 designated waypoints. The car is GPS/Magnetometer guided and completely autonomous with ultrasonic sensors to detect any obstruction within 10 meters covering 180 degrees.</p>
                                    <p>+ Created an Android app via MIT App Inventor to control the vehicle via Bluetooth. MIT App Inventor is block code/scratch. Each function is in a case data structure to provide interaction between the code and app. Ultimately, we pushed each GPS waypoint (Lat, Lon) into a stack and calculate the course in meters.
                                    </p>
                                    <p class="card-text">*completed with a team of 4</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 mb-4">
                            <div class="card pop hvr-float-shadow hvr-bob">
                                <img class="card-img-top" src="/img/colorgame.png" alt="">
                                <div class="card-body">
                                   <h5 class="card-title"><strong>The Color Game</strong></h5>
                                    <p> + Designed a guessing game to determine a color based on the RGB values. Given an RGB value, the user must decide which color looks more like the combination of colors. </p>
                                    <p> + Developed 2 different modes, easy and hard. Easy displays three color choices, while hard displays 6. The colors are randomized along with the RGB values.</p>
                                    <p class="card-text">* This was ultimately designed by front-end tech such as HTML,CSS, & JS.</p>
                                   <a href="https://bigbina.github.io/colorgame/colorGame.html" class="btn btn-outline-success btn-sm"><i class="fab fa-github" style="color: black;"></i> Github</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 mb-4" style="opacity: 90%;">
                            <div class="card pop hvr-float-shadow hvr-bob">
                                <img class="card-img-top" src="/img/yelp.png" alt="">
                                <div class="card-body">
                                   <h5 class="card-title"><strong>YelpCamp</strong></h5>
                                   <p>+ The YelpCamp was my first fullstack project. The purpose of this website is to be a mock of a Campground Rental website.</p>
                                   <p>+ A website that displays campgrounds and allows authenticated users to make reviews/rate the campground and see local campgrounds to compare prices. The creator of the campground/comment can also edit/update and delete/destroy as well. User authentication added with passport.js.</p>
                                   <p>+ The main mission of the website was to utilize all of the CRUD methods/RESTFUL routes. Mongoose is used for the DB schema for the campgrounds, users, and comments.
                                  </p>
                                   <a href="https://github.com/BigBina/yelpcamp" class="btn btn-outline-info btn-sm"><i class="fab fa-github" style="color: black;"></i> Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer id="footer" class="text-center">
        <a class="btn-floating btn-lg btn-tw" type="button" role="button" href="http://www.twitter.com/lkobrandon"><i class="fab fa-twitter" style="color: #00acee;"></i></a>
        <a href= "mailto:brandonjsu@gmail.com" class="btn-floating btn-lg btn-email" type="button" role="button"><i class="fas fa-envelope" style="color: red;"></i></a>
        <a href= "https://github.com/BigBina/" class="btn-floating btn-lg btn-git" type="button" role="button"><i class="fab fa-github" style="color: black;"></i></a>
        <a href= "https://www.linkedin.com/in/brandon-brown-jsu/"class="btn-floating btn-lg btn-li" type="button" role="button"><i class="fab fa-linkedin-in" style="color: #0e76a8;"></i></a>
        <a href= "https://www.facebook.com/profile.php?id=100000509514403" class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f" style="color: #3b5998;"></i></a>
        </footer>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="app.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/js/mdb.min.js"></script>

  </body>
</html>