body {
    background-color: #000000;
  }
  #landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
  }
  #landing-header h1 {
    color: #FFFFFF;
  }
  .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
  }
  .slideshow li:nth-child(1) { 
    background-image: url(/landing/jsu.jpg
    );
  }
  .slideshow li:nth-child(2) { 
    background-image: url(/landing/code.jpeg);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(/landing/mixer.jpeg
    );
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(/landing/flight.jpeg);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(/landing/camera.jpeg);
    animation-delay: 40s; 
  }
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }

  /* GLOBAL STYLES */
body {
    background: #333;
    padding-top: 5em;
    display: flex;
    justify-content: center;
  }
  
  /* DEMO-SPECIFIC STYLES */
 

  .typewriter h4 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(160, 0, 255); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret 1s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

btn btn-lrg{
    padding-top: 50px;
    margin-top: 20px;
}
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

h1{
    font-family: monospace;
}

.btn{
    margin-top: 30px;
    font-family: monospace;
}
